{% extends 'base.html' %}
{% block title %} Update Vehicle {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class = "container mt-5 mb-5" style = "max-width: 95%;">
    <div class = "card mt-5 shadow" style = "border-radius: 10px; border: 2px solid rgb(61, 61, 61);">
        <div class = "container mt-4" style = "max-width: 100%;">
            <div class = "row">
                <div class = "col-sm-12">
                    <h3 style = "font-size: 55px; font-weight: lighter;"> Update Vehicle </h3>
                </div>
            </div>
        </div>

        <div class = "card-body mt-3">
            <form method = "POST">
                {% csrf_token %}
                {{ form|crispy }}

                <div class = "text-center mb-5 mt-5">
                    <button class = "btn btn-md btn-primary" type = "submit"> Update Vehicle </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}